button {
    background-color: rgba(0,0,50,255);
    color: rgba(255,255,205,255);
    border-radius: 1vmin;
    border: 0.1vw solid #FFFFCD;
    margin-left: 1vw;
    margin-right: 1vw;
}

button:disabled {
    color: rgba(128,128,100,150);
    border: 0.1vw solid #888867;
    cursor: not-allowed;
    opacity: 0.7; /* Optional: adds transparency */
}

p {
    color: rgba(255,255,205,255);
    margin-left: 2vw;
    font-size: 2vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

h1 {
    font-size: 3vmin;
}

div {
    display: block;
}
