body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

#leaderboard {
    font-size: 2vmin;
    position: absolute;
    bottom: 0px;
    right: 0vw;
    background-color:rgba(255, 255, 255, 0.5);
    display: table;
    width:30vw;
    height:auto;
    text-align: justify;
}